* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(dc4f350c640eb5287b6b4eef7588db95.jpg) no-repeat;
    background-size: cover;
}
.wrapper {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    color: white;
    border-radius: 12px;
    padding: 30px 40px;
}
.wrapper  h1{
    font-size: 36px;
    text-align: center;
}
 .wrapper .Input-box{
    position: relative;
    width: 100%;
    height: 50px; 
    margin: 30px 0;
 }
 .Input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: white;
    padding: 20px 45px 20px 20px;
 }
 .Input-box input::placeholder{
    color: white;
 }
 .Input-box i{
    position: absolute;
    right: 20px;
    top: 30%;
    transform: translate(-50%);
    font-size: 20px;
 }
 .wrapper .remember-forget{
    display: flex;
    justify-content:space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
 }
 .remember-forget label input{
    accent-color: white;
    margin-right: 3px;
 }
 .remember-forget a{
    color: white;
    text-decoration: none;
 }
 .remember-forget a:hover{
    text-decoration: underline;
 }
 .wrapper .btn{
    width: 100%;
    height: 45px;
    background: white;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.027);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
 }
 .wrapper .register-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
    text-decoration: underline;
 }
 .register-link p a{
    color: white;
    text-decoration: none;
    font-weight: 600;
    justify-content: space-between;
    padding: 20px;
    text-decoration: underline;
 }
 .register-link p a:hover{
    text-decoration: underline;
 }
 .logo-section{
    justify-content: center;
    margin-bottom: 10px;
    display: flex;
    top: 30px;
 }
 .logo-section img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    top: 40px;
    right: 730px;
 }
 .logo-section h1{
    color: white;
    font-size: 28px;
    margin-top: 8px;
    font-weight: 700;
    letter-spacing: 1px;
 }
    .verify-box{
      width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    color: white;
    border-radius: 12px;
    padding: 100px;
    justify-content: space-between;
    font-size: 14.5px;
    width: 550px;
    margin: auto;
    text-align: center;
    margin-bottom: 0px;
    }
    .verify-box p{
      margin-bottom: 0px;
       font-size: 14.5px;
    text-align: center;
    font-weight: 600;
    justify-content: space-between;
    padding: 20px;
    }
   .verify-btn {
      width: 220px;
      height: 45px;
      border: none;
      border-radius: 25px;
      background:white;
      color: black;
      font-weight: 800;
      justify-content: space-between;
   }
   .verify-box a{
      color:white;
      text-decoration: underline;
      font-weight: 600;
      padding: 15px;
   }
   .underline-text{
      text-decoration: underline;
   }
   .email-icon{
      text-align: center;
      margin-bottom: 20px;
   }
   .email-icon i{
      font-size: 80px;
      color: white;
   }
   